
.contentLogo {
  margin-top: 25px;
  display: flex;
  width: 100%;
  margin-left: 15px;
}
.mainPhotoUserContainer {
  position: relative;
}

.mainPhotoUser {
  width: 250px;
}
.contentLogoAboutContainer {
  width: 70%;
  line-height: 30px;
  margin-top: 20px;
  font-size: 17px;
  margin-left: 25px;
}
.mainPhotoUploader {
  position: absolute;
}
