.dialog {
    margin-top: 15px;
    display: flex;
}


.dialog > a {
    font-size: 22px;
    text-decoration: none;
    color: black;
    border: 2px solid blue ;
    padding: 4px 10px;
    border-radius: 9px;
}
.dialogIcon {
    max-width: 50px;
}

.dialog a.active {
    color: orange;
    background-color: #de5c5c;
}