.header {
    display: flex;
    background-color: rgb(22, 170, 22);
    height: 80px;
    width: 100%;
}
.header img {
    width: 50px;
    height: 50px;
    margin-bottom: auto;
    margin-top: auto;
    margin-left: 10px;
}
  